{% extends "base.html" %}

{% block head_content %}
    <title>Informacion</title>
{% endblock %}
{% load static %}
{% block container %}
<main>
    <div class="fondo_main">
        <h1>Habitaciones disponibles</h1>
        <div class="habitacion">
            <img src="{% static 'img/h1.jpg' %}" height="200" width="300">
            <h2>Habitacion Indiana</h2>
            <p>⭐⭐⭐✰✰</p>
            <br>
                <li>1 silla xd</li>
                <li>1 cama grande para 2 personas</li>
                <li>1 tocador</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h2.jpg' %}" height="200" width="300">
            <h2>Habitacion Kinky</h2>
            <p>⭐⭐⭐⭐✰</p>
            <br>
                <li>1 silla y no es gamer</li>
                <li>1 cama para 2 personas</li>
                <li>cadenas para arestar gente xd</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h3.jpg' %}" height="200" width="300">
            <h2>Habitacion Averge</h2>
            <p>⭐✰✰✰✰</p>
            <br>
                <li>2 camas, joder 2 camas</li>
                <li>1 habitacion 4x4</li>
                <li>1 foco</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h4.jpg' %}" height="200" width="300">
            <h2>Habitacion Gamer</h2>
            <p>⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐</p>
            <br>
                <li>1 pc gamer UwU</li>
                <li>luces Leds para mas fps</li>
                <li>1 silla gamer</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h5.jpg' %}" height="200" width="300">
            <h2>Habitacion del Carpintero</h2>
            <p>⭐⭐⭐✰✰</p>
            <br>
                <li>1 cama para 2 personas</li>
                <li>1 silla y tampoco es gamer</li>
                <li>habitacion rosas</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h6.jpg' %}" height="200" width="300">
            <h2>Habitacion Eleven</h2>
            <p>⭐⭐⭐✰✰</p>
            <br>
                <li>1 cama para 2 o 3 personas</li>
                <li>1 tubo</li>
                <li>luces moradas para mas fps</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h7.jpg' %}" height="200" width="300">
            <h2>Habitacion Chile</h2>
            <p>⭐⭐⭐⭐⭐</p>
            <br>
                <li>1 cama para 2 personas</li>
                <li>1 tubo</li>
                <li>muchas luces</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h8.jpg' %}" height="200" width="300">
            <h2>Habitacion Acueducto xd</h2>
            <p>⭐⭐⭐⭐⭐</p>
            <br>
                <li>1 cama redonda</li>
                <li>luces bonitas</li>
                <li>mucho espacio</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
        <div class="habitacion">
            <img src="{% static 'img/h9.jpg' %}" height="200" width="300">
            <h2>Habitacion Puebla</h2>
            <p>⭐⭐⭐⭐⭐</p>
            <br>
                <li>1 cama para 2 personas</li>
                <li>1 silla x4</li>
                <li>muy bonito</li>
                <br>
            <button>Reserva la habitacion aqui 🥵</button>
        </div>
    </div>
</main>
{% endblock %}