{% extends "base.html" %}

{% block head_content %}
    <title>Hotel 4</title>
{% endblock %}

{% block container %}
<main>
    <div class="fondso_main">
        <div class="content_img">
            <div class="frase">
                <h1>Hotel 4</h1>
                
                <h2>
                    “Entrena a la gente lo suficientemente bien como para que se puedan ir, 
                    trátalas lo suficientemente bien como para que se quieran quedar”
                </h2>
            </div>
            <div class="formulario_tiempo">
                <form action="">
                    <input type="datetime-local" name="datetime" id="">
                    <input type="submit" value="Reservar" id="botonform">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}