{% extends "base.html" %}

{% block head_content %}
    <title>Personal</title>
{% endblock %}

{% block container %}
<main>
    <div class="mi_nombrebb">
        <h1>Joel Steven Cedeño Asuncion</h1>
    </div>
    <div class="informacion_personal">
        <p>Hola me llamo joel y tengo 20 años soy estudiante de programacion
            y estoy dentro de los clubes de la institucion me gusta practicar 
            bastante ejerecicos para programar y no se que mas decir, 
            asi que mucha gracias a todos los quiero mucho :)
       </p>
    </div>
</main>
{% endblock %}