{% extends "base.html" %}

{% block head_content %}
    <title>Portafolio</title>
{% endblock %}

{% block container %}
<main>
    <div class="fondo_main">
        <div style="text-align: center;">
            <h1>Portafolio</h1>
            <p>Nuestra empresa de hoteleria ha tiene 25 años en el mercado de hoteleria</p>
            <br>
            <p>Somos una empresa internacional que se 
                encuentra ubicada en mas de 20 paises distinots
            </p><br>
            <p>Hemos colaborado con mas de 10 empresas ubicadas en silicon valley xd</p><br>
            <p>Tenemos mas de 5 trofeos a nivel nacional 
                por cada pais de recidencia al mejor hotel del año :v
            </p><br>
            <p>Todos nuestros clientes salen sastifechos del hotel :v</p><br>
            <p>Protegemos al medio ambiente</p><br>
            <p>los quiero mucho</p><br>
            <p>Contamos con las mejores tecnologias xd</p><br>
            <p>tenems un premio a la mejor hoteleria a nivel interacional</p><br>
            <p>Tenemos un hospital para combatir y ayudar a las personas con cancer</p><br>
            <p>Nos gustan los gatos</p><br>
        </div>
    </div>
</main>
{% endblock %}